@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins';
  }

  /* body > * {
    width: 100vw;
  } */

  a, button, h1, h2, h6 {
    text-align: center;
  }

  .darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }

  h1, h2, h6 {
    @apply text-amber-700    
  }

  h1 {
    @apply text-5xl
  }

  h4 {
    @apply font-bold text-lg
  }

  html {
    @apply text-amber-50 bg-amber-100
  }

  .base-button {
    @apply px-6 py-3 text-center w-full transition-all duration-300 ease-in-out rounded-xl bg-amber-700 hover:scale-105 hover:bg-amber-100 hover:text-amber-600
  }

  .animation {
    @apply transition-all duration-300 ease-in-out
  }

  .list-item {
    @apply animation text-xl text-amber-50 cursor-pointer hover:active-list-item whitespace-nowrap
  }

  .mobile-list-item {
    @apply animation text-3xl text-amber-50 cursor-pointer hover:text-amber-700
  }

  .dropdown-item {
    @apply text-xl text-amber-50 uppercase hover:text-amber-700 animation
  }

  .active-dropdown {
    @apply top-8 z-10 opacity-100 !important
  }

  .active-mobile-dropdown {
    @apply static pointer-events-auto opacity-100 !important
  }

  .active-list-item {
    @apply text-2xl text-amber-700 leading-6
  }

  .active-mobile-list-item {
    @apply text-amber-700
  }

  .active-navbar {
    @apply top-0 pointer-events-auto opacity-100 !important
  }
  
  .arrow-animation {
    @apply rotate-180 fill-amber-700 !important
  }

  .footer-list ul {
    @apply space-y-1
  }
}